/* Font titre Shrikhand - font-family: 'Shrikhand', cursive; */
/* Font Texte Roboto - font-family: 'Roboto', sans-serif; */
/* Primary color violet : #9356DC */
/* Secondary color rose : #FF79DA */
/* Tertiaire color mint : #99E2D0 */
.html {
  font-family: 'Roboto', sans-serif;
}
.body {
  margin: 0;
}
.main{
  background-color: #f6f6f6;
}

.loading{
  position:absolute;
  width:100%;
  min-height:100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  visibility: hidden;
}
.load{
  width:160px;
  height:160px;
  border-radius:150px;
  border:15px solid #fff;
  border-top-color:rgba(0,0,0,0.3);
  box-sizing:border-box;
  position:absolute;
  top:50%;left:50%;
  margin-top:-80px;
  margin-left:-80px;
  animation:loading 1.2s linear infinite;
  z-index: 20;
}
@keyframes loading{
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}

/* Logo */
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.img_logo {
  width: 200px;
  margin: 10px;
}

/* Rechercher */
.search{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  box-shadow: inset 0px 12px 5px -10px rgb(148, 148, 148);
  padding: 20px 0px;
}
.locate{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_locate{
  font-size: 20px;
  padding-right: 10px;
}
.Paris{
  background-color: #eaeaea;
  width: 160px;
  padding-left: 8px;
  border: none;
  font-size: 20px;
  font-weight: bold;
}

/* Intro */
.intro {
  background-color: #f6f6f6;
}
.bloc_intro{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title_intro {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 5px;
}
.txt_intro {
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 30px;
}
.btn_rest{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  font-size: 20px;
}
.btn_pink{
  border-radius: 25px;
  box-shadow: 0px 0px 12px 5px #0000002e;
  width: 220px;
  height: 50px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  border: none;
  color: white;
  font-size: 16px;
}

/* Fonctionnement */
.functioning{
  display: flex;
  flex-direction: column;
  background: white;
  padding-bottom: 60px;
}
.title_functioning{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.blocs_functioning{
  width: 100%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  margin-top: 20px ;
}
.bloc_functioning {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin: 0px 20px;
  box-shadow: 5px 5px 14px 0px #0000002e;
}
.number {
  position: relative;
  left: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c595ff;
  color: white;
  border-radius: 25px;
  width: 20px;
  height: 20px;
  font-size: 13px;
}
.icon_functioning {
  color: #7e7e7e;
  font-size: 20px;
  padding-left: 30px;
  width: 30px;
}
.txt_functioning {
  font-size: 14px;
  font-weight: bold;
  padding-left: 20px;
}
.bloc_functioning:hover {
  cursor: pointer;
  background-color: #c595ff62;
  transition: background-color .3s;
}
.bloc_functioning:hover .fas {
  color: #9356DC;
}

/* main */
.restaurant {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background: #f6f6f6;
  padding-bottom: 40px;
}
.title_restaurant {
  padding: 30px 0px 10px 30px;
  font-size: 18px;
}
.title_rest{
  margin: 0;
}
.restaurant_card_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.restaurant_card {
  position: relative;
  width: 500px;
  height: 330px;
  background: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 6px 0px #0000002e;
  margin: 20px;
}
.rest_image {
  width: 100%;
  max-height: 250px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.rest_text {
  width: 200px;
}
.rest_text_bloc {
  margin: 10px;
  display: flex;
}
.rest_name {
  margin: 0;
}
.rest_place {
  margin: 0;
}
.rest_card_new {
  background-color: #99E2D0;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 30px;
  right: 30px;
  width: 100px;
  height: 30px;
}
.txt_new {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 17px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #008766;
}
.heart {
  position: absolute;
  right: 30px;
  bottom: 10px;
}
.restaurant_card a {
  text-decoration: none;
  color: black;
}
.restaurant_card:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: ease 0.3s;
  box-shadow: 0px 0px 12px 2px #9356DC;
}
.far:hover {
  background-color: #FF79DA;
}

/* Footer */
.footer {
  background-color: #353535;
  color: white;
}
.footer_blocs {
  padding: 30px 0px;
  padding-left: 30px;
  display: flex;
  justify-content: space-around;
}
.txt_logo {
  font-family: 'Shrikhand', cursive;
  color: white;
  font-size: 22px;
  text-decoration: none;
}
.footer_bloc {
  display: flex;
  align-items: center;
  margin: 3px;
  font-size: 14px;
  font-weight: normal;
}
.footer_title {
  margin: 0;
}
.icon_footer {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.footer_title a {
  color: white;
  text-decoration: none;
}

/* Media Queries */
@media screen and (max-width: 1100px) {
.restaurant_card {
  width: auto;
}}

@media screen and (max-width: 1000px) {
.restaurant_card_list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.restaurant {
  height: 1550px;
}}

@media screen and (max-width: 800px) {
.blocs_functioning {
  display: flex;
  flex-direction: column;
  width: 450px;
}
.bloc_functioning {
  margin: 20px;
  height: 50px;
}
.restaurant {
  height: 1300px;
}
.restaurant_card {
  height: auto;
}
.rest_image {
  max-height: 200px;
}
.heart {
  position: absolute;
  right: 30px;
  bottom: 0px;
}
.footer_blocs{
  flex-direction: column;
}}
@media screen and (max-width: 500px) {
.blocs_functioning {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
.bloc_functioning {
  height: 50px;
}
.title_functioning {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
}}

/* 

opacity: 1;
        transition: 0.4s ease-in;
opacity: 0;
        transition: 0.4s ease-in;

*/
/*# sourceMappingURL=style.css.map */