/* Font titre Shrikhand 
font-family: 'Shrikhand', cursive;
*/

/* Font Texte Roboto
font-family: 'Roboto', sans-serif;
*/

/* Primary color violet : #9356DC */
/* Secondary color rose : #FF79DA */
/* Tertiaire color mint : #99E2D0 */

.html{
    font-family: 'Roboto', sans-serif;
}
.body{
    margin: 0;
}

/* Logo */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}
.img_logo{
    width: 200px;
    margin: 10px;
}

/* Rechercher */
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    box-shadow: inset 0px 12px 5px -10px rgb(148, 148, 148);
    padding: 20px 0px;
}
.locate{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_locate{
    font-size: 20px;
    padding-right: 10px;
}
.Paris{
    background-color: #eaeaea;
    width: 160px;
    padding-left: 8px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

/* Intro */
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f6f6f6;
}
.bloc_intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title_intro{
    text-align: center;
    max-width: 250px;
    margin-top: 40px;
    margin-bottom: 5px;
}
.txt_intro{
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 30px;
}
.btn_rest{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    font-size: 20px;
}
.btn_pink{
    border-radius: 25px;
    box-shadow: 0px 0px 12px 5px #0000002e;
    width: 220px;
    height: 50px;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    border: none;
    color: white;
    font-size: 16px;
}


/* Fonctionnement */
.functioning{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 40px 0px 50px 0px ;
}
.title_functioning{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
.title_funct{
    margin: 0;
}
.blocs_functioning{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    margin-top: 20px ;
}
.bloc_functioning{
    width: 100%;
    position: relative;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px ;
    margin: 0px 20px;
    box-shadow: 5px 5px 14px 0px #0000002e;
}
.number{
    position: absolute;
    left: -8px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9356DC;
    color: white;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    font-size: 13px;
}
.icon_functioning{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7e7e7e;
    font-size: 20px;
    padding-left: 30px;
    width: 30px;
}
.txt_functioning{
    font-size: 14px;
    font-weight: bold;
    padding-left: 30px;
}

/* main */
.main{
    background-color: #f6f6f6;
}
.title_restaurant{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}
.title_rest{
    margin: 20px 0px;
}
.restaurant{
    height: 860px;
}
.restaurant_card_list{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;

}
.restaurant_card{
    width: 100%;
    height: 330px;
    background: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 6px 0px #0000002e;
}
.rest_image{
    width: 100%;
    max-height: 250px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.rest_text{
    width: 200px;
}
.rest_text_bloc{
    margin: 10px;
    display: flex;
}
.rest_name{
    margin: 0;
}
.rest_place{
    margin: 0;
}
.rest_card_new{
    background-color: #99E2D0;
    position: relative;
    justify-content: center;
    align-items: center;
    top: -330px;
    right: -580px;
    width: 100px;
    height: 30px;
}
.txt_new{
    margin: 0;
    display: flex;
    justify-content: center ;
    padding: 5px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #008766;
}
.heart{
    position: relative;
    bottom: 10px;
    right: -440px;
}

/* Footer */
.footer{
    background-color: #353535;
    color: white;
}
.footer_blocs{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.txt_logo{
    font-family: 'Shrikhand', cursive;
    color: white;
    font-size: 22px;
    text-decoration: none;
}
.footer_bloc{
    display: flex;
    align-items: center;
    margin: 3px;
    font-size: 14px;
    font-weight: normal;
}
.footer_title{
    margin: 0;
}
.icon_footer{
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
.footer_title a {
    color: white;
    text-decoration: none;
}
@media screen and (max-width : 1440px) {
    .rest_card_new{
        top: -330px;
        right: -570px;
    }
    
}
 