/* Variable */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background: linear-gradient(170deg, #FF79DA, #9356DC);

/* Mixin */
@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Corp du site */
.html{
    font-family: 'Roboto', sans-serif;
}
.body{
    margin: 0;
}
p, h4{
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Logo */
.bloc_logo {
    display: flex ;
    align-items: center ;
    justify-content: space-around ;
}
.img_logo {
    width: 200px ;
    margin: 20px ;
}
.icon_back {
    position: absolute ;
    font-size: 25px ;
    left: 100px ;
}
.icon_back a {
    text-decoration: none ;
    color: black;
}

/* Fond d'écran header*/
.img_back {
    display: flex ;
    width: 100% ;
    height: 500px ;
    object-fit: cover ; 
}

/* Section Menu */
.heart_empty {
    position: absolute;
    right: 20px;
    top: 20px;
    visibility: visible;
  }
.heart_full {
    visibility: hidden;
    position: absolute;
    right: 20px;
    top: 20px;
    background: $background;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.heart_btn:hover .heart_full{
    visibility: visible;
}
.heart_btn:hover .heart_empty{
    visibility: hidden;
}
.menu{
    position: relative;
    margin-top: -70px;
    background-color: #f6f6f6;
    border-radius: 50px 50px 0px 0px ;
    height: 630px;
}
.title_menu{
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    display: flex;
    margin: 20px 20px;
}
.menu_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin: auto;
    max-width: 1440px;
}
.menu_grid_bloc{
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}
.grid_title{
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}
.line{
    border: solid 2px $color-tertiary;
    width: 45px;
    margin: 10px 0px;
}
.menu_grid_case{
    background-color: #fff;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    box-shadow: 4px 4px 6px #aaa;
    position: relative;
    cursor: pointer;
    transition: padding-right 0.3s ease-in-out;
}
.menu_case_dish{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: normal;
}
.icon_check{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiary;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    width: 60px;
    height: 58px;
    right: 0px;
    top: 0;
    opacity: 0;
    font-size: 30px;
    transition: padding-right 10ms ease-in-out;
    transition: rotate 0.5s ease-in-out;
}
.icon_check .fa-check-circle{
    color: #fff;
    transition: transform 500ms ease-in-out;
}
.menu_grid_case:hover{
    padding-right: 75px;
}
.menu_grid_case:hover .icon_check {
    animation: appear 0.5s ease-in-out both;
    animation-delay: 0.1s;
}
.menu_grid_case:hover .fa-check-circle{
    transform: rotate(360deg);
    transition: 1s;
}
@keyframes appear{
0%{
    opacity: 0;
}
100%{
    opacity: 1;
}}
.btn_rest{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.btn_pink{
    border-radius: 25px;
    box-shadow: 0px 0px 12px 5px #0000002e;
    width: 200px;
    height: 50px;
    background: $background;
    border: none;
    color: white;
    font-size: 20px;
}
.effect_case{
    animation: opacity 1s ease-in-out both;
}
#case1{
    animation-delay: 0.1s;
}
#case2{
    animation-delay: 0.2s;
}
#case3{
    animation-delay: 0.3s;
}
#case4{
    animation-delay: 0.4s;
}
#case5{
    animation-delay: 0.5s;
}
#case6{
    animation-delay: 0.6s;
}
#case7{
    animation-delay: 0.7s;
}
#case8{
    animation-delay: 0.8s;
}
#case9{
    animation-delay: 0.9s;
}
#case10{
    animation-delay: 1s;
}
@keyframes opacity{
0%{
    opacity: 0;
}
100%{
    opacity: 1;
}}

/* Footer */
.footer {
    background-color: #353535;
    color: white;
    height: 150px;
    padding-top: 50px;
}
.footer_blocs {
    padding: 30px 0px;
    padding-left: 30px;
    display: flex;
    justify-content: space-around;
}
.txt_logo {
    font-family: 'Shrikhand', cursive;
    color: white;
    font-size: 22px;
    text-decoration: none;
}
.footer_bloc {
    display: flex;
    align-items: center;
    margin: 3px;
    font-size: 14px;
    font-weight: normal;
}
.footer_title {
    margin: 0;
}
.icon_footer {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
.footer_title a {
    color: white;
    text-decoration: none;
}

/* Section Media Queries */
@media screen and (max-width: 1310px) {
.img_back{
    height: 350px;
}
.menu{
    height: 1200px;
}
.menu_grid{
    @include flexbox-center;
    max-width: 600px;
    margin: auto;
}
.menu_grid_bloc{
    margin-bottom: 30px;
}}
@media screen and (max-width: 800px){
.footer{
    padding: 0px;
    height: 197px;
}
.footer_blocs{
    flex-direction: column;
    padding-left: 10px;
}}
@media screen and (max-width: 500px){
.bloc_logo{
    position:initial;
    @include flexbox-center;
}
.icon_back{
    position: initial;
}}